# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:

* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM ERD

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database `'data.sqlite'`.

In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')

## Select the names of all employees in Boston 

Hint: join the employees and offices tables. Select the first and last name.

In [3]:
# SQL query to select names of all employees in Boston
query = """
SELECT employees.firstName, employees.lastName
FROM employees
JOIN offices ON employees.officeCode = offices.officeCode
WHERE offices.city = 'Boston'
"""


results = pd.read_sql(query, conn)


print(results)

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by. Select the office code, city, and number of employees.

In [6]:
# SQL query to find offices with zero employees
query = """
SELECT offices.officeCode, offices.city, COUNT(employees.employeeNumber) AS numEmployees
FROM offices
LEFT JOIN employees ON offices.officeCode = employees.officeCode
GROUP BY offices.officeCode, offices.city
HAVING numEmployees = 0
"""


results = pd.read_sql_query(query, conn)


print(results)

   officeCode    city  numEmployees
0          27  Boston             0

## Write 3 questions of your own and answer them

In [9]:
# Answers will vary

# Example question: 
"""
How many customers are there per office?
"""

'\nHow many customers are there per office?\n'

In [10]:
#Question 1: What is the total sales amount for each customer?

# SQL query to calculate total sales amount for each customer
query = """
SELECT customers.customerName, SUM(payments.amount) AS totalSales
FROM customers
LEFT JOIN payments ON customers.customerNumber = payments.customerNumber
GROUP BY customers.customerNumber
"""

results = pd.read_sql_query(query, conn)


print(results)

                       customerName  totalSales
0                 Atelier graphique    22314.36
1                Signal Gift Stores    80180.98
2        Australian Collectors, Co.   180585.07
3                 La Rochelle Gifts   116949.68
4                Baane Mini Imports   104224.79
..                              ...         ...
117    Motor Mint Distributors Inc.    77726.59
118        Signal Collectibles Ltd.    42570.37
119  Double Decker Gift Stores, Ltd    29586.15
120            Diecast Collectables    65541.74
121               Kelly's Gift Shop   114497.19

[122 rows x 2 columns]

In [11]:
#Question 2: Which products have not been ordered yet?
# SQL query to find products that have not been ordered yet
query = """
SELECT products.productName
FROM products
LEFT JOIN orderdetails ON products.productCode = orderdetails.productCode
WHERE orderdetails.orderNumber IS NULL
"""

results = pd.read_sql_query(query, conn)


print(results)

         productName
0  1985 Toyota Supra

In [12]:
#Question 3: What is the average credit limit for customers in each country?

# SQL query to calculate the average credit limit for customers in each country
query = """
SELECT customers.country, AVG(customers.creditLimit) AS averageCreditLimit
FROM customers
GROUP BY customers.country
"""

results = pd.read_sql_query(query, conn)

print(results)

         country  averageCreditLimit
0      Australia        86060.000000
1        Austria        58500.000000
2        Belgium        51700.000000
3         Canada        76200.000000
4        Denmark       102100.000000
5        Finland        95266.666667
6         France        77691.666667
7        Germany        19776.923077
8      Hong Kong        58600.000000
9        Ireland        34700.000000
10        Israel            0.000000
11         Italy        97200.000000
12         Japan        87800.000000
13   Netherlands            0.000000
14   New Zealand        90625.000000
15        Norway        81700.000000
16      Norway          95950.000000
17   Philippines        81500.000000
18        Poland            0.000000
19      Portugal            0.000000
20        Russia            0.000000
21     Singapore        67233.333333
22  South Africa            0.000000
23         Spain        73971.428571
24        Sweden        84750.000000
25   Switzerland        47100.000000
26            UK        88740.000000
27           USA        78102.777778

## Level Up 1: Display the names of every individual product that each employee has sold

Hint: You will need to use multiple `JOIN` clauses to connect all the way from employee names to product names.

In [ ]:
# Your code here

## Level Up 2: Display the number of products each employee has sold

Alphabetize the results by employee last name.

Hint: Use the `quantityOrdered` column from `orderDetails`. Also, think about how to group the data when some employees might have the same first or last name.

In [13]:
# SQL query to select names of every individual product that each employee has sold
query = """
SELECT employees.firstName, employees.lastName, products.productName
FROM employees
JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
JOIN orders ON customers.customerNumber = orders.customerNumber
JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
JOIN products ON orderdetails.productCode = products.productCode
"""

results = pd.read_sql_query(query, conn)


print(results)

     firstName  lastName                                  productName
0       Leslie  Jennings                               1958 Setra Bus
1       Leslie  Jennings                       1940 Ford Pickup Truck
2       Leslie  Jennings                      1939 Cadillac Limousine
3       Leslie  Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4       Leslie  Jennings                            1968 Ford Mustang
...        ...       ...                                          ...
2991    Martin    Gerard                  1954 Greyhound Scenicruiser
2992    Martin    Gerard       1950's Chicago Surface Lines Streetcar
2993    Martin    Gerard             Diamond T620 Semi-Skirted Tanker
2994    Martin    Gerard                           1911 Ford Town Car
2995    Martin    Gerard             1936 Mercedes Benz 500k Roadster

[2996 rows x 3 columns]

## Level Up 3: Display the names employees who have sold more than 200 different products

Hint: this is different from the previous question because the quantity sold doesn't matter, only the number of different products

In [14]:
# SQL query to select names of employees who have sold more than 200 different products
query = """
SELECT employees.firstName, employees.lastName
FROM employees
JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
JOIN orders ON customers.customerNumber = orders.customerNumber
JOIN orderdetails ON orders.orderNumber = orderdetails.orderNumber
GROUP BY employees.employeeNumber
HAVING COUNT(DISTINCT orderdetails.productCode) > 200
"""

results = pd.read_sql_query(query, conn)

print(results)

Empty DataFrame
Columns: [firstName, lastName]
Index: []

In [15]:
conn.commit()

In [16]:
conn.close()

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!